In [1]:
!pip install pandas scikit-learn mlxtend

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting scikit-learn
  Using cached scikit_learn-1.5.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting mlxtend
  Using cached mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/miniconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.14.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Collecting matplotlib>=3.0.0 (from mlxtend)
  Using cached matplotlib-3.9.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib>=3.0.0->mlxtend)
  Using cached contourpy-1.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib>=3.0.0->mlxtend)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib>=3.0.0->mlxtend)
  Using cached fonttools-4.53.1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (162 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib>=3.0.0->mlxtend)
  Using cached kiwisolver-1.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Collecting pillow>=8 (from matplotlib>=3.0.0->mlxtend)
  Using cached pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib>=3.0.0->mlxtend)
  Using cached pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: six>=1.5 in /home/gitpod/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Using cached scikit_learn-1.5.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
Using cached mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached matplotlib-3.9.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
Using cached numpy-2.1.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
Using cached scipy-1.14.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (40.8 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Using cached contourpy-1.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (309 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.53.1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
Using cached kiwisolver-1.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
Using cached pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.5 MB)
Using cached pyparsing-3.1.2-py3-none-any.whl (103 kB)
Installing collected packages: tzdata, threadpoolctl, pyparsing, pillow, numpy, kiwisolver, joblib, fonttools, cycler, scipy, pandas, contourpy, scikit-learn, matplotlib, mlxtend
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.1 joblib-1.4.2 kiwisolver-1.4.5 matplotlib-3.9.2 mlxtend-0.23.1 numpy-2.1.0 pandas-2.2.2 pillow-10.4.0 pyparsing-3.1.2 scikit-learn-1.5.1 scipy-1.14.0 threadpoolctl-3.5.0 tzdata-2024.1

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [3]:
dataset={
    'Service_Type':['Local','Express','Night','Weekend','Express','Local','Night','Weekend','Local','Express'],
    'Travel_Distance':[5,40,80,10,55,3,90,None,2,100],
    'Travel_Time':[15,60,None,25,85,10,140,35,8,170],
    'Day_of_Week':['Weekday','Weekday','Weekend','Weekend','Weekday','Weekday','Weekend','Weekend','Weekday','Weekday'],
    'Passenger_Age':[25,19,68,34,22,45,72,17,29,55],
    'Ticket_Type':['Regular','Student','Senior','Regular','Student','Regular','Senior','Student','Regular','Regular']
    }

In [4]:
data1=pd.DataFrame(dataset)
data1

,Service_Type,Travel_Distance,Travel_Time,Day_of_Week,Passenger_Age,Ticket_Type
0,Local,5.0,15.0,Weekday,25,Regular
1,Express,40.0,60.0,Weekday,19,Student
2,Night,80.0,NaN,Weekend,68,Senior
3,Weekend,10.0,25.0,Weekend,34,Regular
4,Express,55.0,85.0,Weekday,22,Student
5,Local,3.0,10.0,Weekday,45,Regular
6,Night,90.0,140.0,Weekend,72,Senior
7,Weekend,NaN,35.0,Weekend,17,Student
8,Local,2.0,8.0,Weekday,29,Regular
9,Express,100.0,170.0,Weekday,55,Regular

In [5]:
data1['Travel_Distance']=data1['Travel_Distance'].fillna(data1['Travel_Distance'].mean())
data1['Travel_Time']=data1['Travel_Time'].fillna(data1['Travel_Time'].mean())

data1

,Service_Type,Travel_Distance,Travel_Time,Day_of_Week,Passenger_Age,Ticket_Type
0,Local,5.000000,15.000000,Weekday,25,Regular
1,Express,40.000000,60.000000,Weekday,19,Student
2,Night,80.000000,60.888889,Weekend,68,Senior
3,Weekend,10.000000,25.000000,Weekend,34,Regular
4,Express,55.000000,85.000000,Weekday,22,Student
5,Local,3.000000,10.000000,Weekday,45,Regular
6,Night,90.000000,140.000000,Weekend,72,Senior
7,Weekend,42.777778,35.000000,Weekend,17,Student
8,Local,2.000000,8.000000,Weekday,29,Regular
9,Express,100.000000,170.000000,Weekday,55,Regular

In [6]:
def normalize(data,col):
    data[col]=(data[col]-data[col].mean())/data[col].std()

In [8]:
normalize(data1,'Travel_Distance')
normalize(data1,'Travel_Time')
normalize(data1,'Passenger_Age')
data1

,Service_Type,Travel_Distance,Travel_Time,Day_of_Week,Passenger_Age,Ticket_Type
0,Local,-1.001987e+00,-8.198383e-01,Weekday,-0.669446,Regular
1,Express,-7.367551e-02,-1.588064e-02,Weekday,-0.964790,Student
2,Night,9.872518e-01,-6.033023e-17,Weekend,1.447186,Senior
3,Weekend,-8.693710e-01,-6.411810e-01,Weekend,-0.226430,Regular
4,Express,3.241722e-01,4.307625e-01,Weekday,-0.817118,Student
5,Local,-1.055033e+00,-9.091669e-01,Weekday,0.315034,Regular
6,Night,1.252484e+00,1.413377e+00,Weekend,1.644082,Senior
7,Weekend,4.440892e-17,-4.625238e-01,Weekend,-1.063238,Student
8,Local,-1.081556e+00,-9.448984e-01,Weekday,-0.472550,Regular
9,Express,1.517715e+00,1.949349e+00,Weekday,0.807274,Regular

In [9]:
encoder=LabelEncoder()

In [10]:
data1['Service_Type']=encoder.fit_transform(data1['Service_Type'])
data1['Day_of_Week']=encoder.fit_transform(data1['Day_of_Week'])
data1['Ticket_Type']=encoder.fit_transform(data1['Ticket_Type'])
data1

,Service_Type,Travel_Distance,Travel_Time,Day_of_Week,Passenger_Age,Ticket_Type
0,1,-1.001987e+00,-8.198383e-01,0,-0.669446,0
1,0,-7.367551e-02,-1.588064e-02,0,-0.964790,2
2,2,9.872518e-01,-6.033023e-17,1,1.447186,1
3,3,-8.693710e-01,-6.411810e-01,1,-0.226430,0
4,0,3.241722e-01,4.307625e-01,0,-0.817118,2
5,1,-1.055033e+00,-9.091669e-01,0,0.315034,0
6,2,1.252484e+00,1.413377e+00,1,1.644082,1
7,3,4.440892e-17,-4.625238e-01,1,-1.063238,2
8,1,-1.081556e+00,-9.448984e-01,0,-0.472550,0
9,0,1.517715e+00,1.949349e+00,0,0.807274,0

In [11]:
x=data1.iloc[:,1:]
y=data1.iloc[:,0]

In [12]:
model=DecisionTreeClassifier()
rfe=RFE(model,n_features_to_select=2)
fit=rfe.fit(x,y)
fit.get_feature_names_out()

array(['Travel_Distance', 'Day_of_Week'], dtype=object)

In [13]:
data2=pd.DataFrame(dataset)

In [14]:
data2['Travel_Distance']=data2['Travel_Distance'].fillna(data2['Travel_Distance'].mean())
data2['Travel_Time']=data2['Travel_Time'].fillna(data2['Travel_Time'].mean())

data2

,Service_Type,Travel_Distance,Travel_Time,Day_of_Week,Passenger_Age,Ticket_Type
0,Local,5.000000,15.000000,Weekday,25,Regular
1,Express,40.000000,60.000000,Weekday,19,Student
2,Night,80.000000,60.888889,Weekend,68,Senior
3,Weekend,10.000000,25.000000,Weekend,34,Regular
4,Express,55.000000,85.000000,Weekday,22,Student
5,Local,3.000000,10.000000,Weekday,45,Regular
6,Night,90.000000,140.000000,Weekend,72,Senior
7,Weekend,42.777778,35.000000,Weekend,17,Student
8,Local,2.000000,8.000000,Weekday,29,Regular
9,Express,100.000000,170.000000,Weekday,55,Regular

In [15]:
data2['Travel_Distance']=pd.cut(x=data2['Travel_Distance'],bins=[0,33,66,100],labels=['short','medium','long'])

In [16]:
data2

,Service_Type,Travel_Distance,Travel_Time,Day_of_Week,Passenger_Age,Ticket_Type
0,Local,short,15.000000,Weekday,25,Regular
1,Express,medium,60.000000,Weekday,19,Student
2,Night,long,60.888889,Weekend,68,Senior
3,Weekend,short,25.000000,Weekend,34,Regular
4,Express,medium,85.000000,Weekday,22,Student
5,Local,short,10.000000,Weekday,45,Regular
6,Night,long,140.000000,Weekend,72,Senior
7,Weekend,medium,35.000000,Weekend,17,Student
8,Local,short,8.000000,Weekday,29,Regular
9,Express,long,170.000000,Weekday,55,Regular

In [17]:
transactions=[[i,j,k] for i,j,k in zip(data2['Travel_Distance'],data2['Day_of_Week'],data2['Service_Type'])]
transactions

[['short', 'Weekday', 'Local'],
 ['medium', 'Weekday', 'Express'],
 ['long', 'Weekend', 'Night'],
 ['short', 'Weekend', 'Weekend'],
 ['medium', 'Weekday', 'Express'],
 ['short', 'Weekday', 'Local'],
 ['long', 'Weekend', 'Night'],
 ['medium', 'Weekend', 'Weekend'],
 ['short', 'Weekday', 'Local'],
 ['long', 'Weekday', 'Express']]

In [21]:
tenc=TransactionEncoder()
enc_data=tenc.fit(transactions).transform(transactions)
enc_df=pd.DataFrame(enc_data,columns=tenc.columns_)
enc_df

   Express  Local  Night  Weekday  Weekend   long  medium  short
0    False   True  False     True    False  False   False   True
1     True  False  False     True    False  False    True  False
2    False  False   True    False     True   True   False  False
3    False  False  False    False     True  False   False   True
4     True  False  False     True    False  False    True  False
5    False   True  False     True    False  False   False   True
6    False  False   True    False     True   True   False  False
7    False  False  False    False     True  False    True  False
8    False   True  False     True    False  False   False   True
9     True  False  False     True    False   True   False  False

In [22]:
freq_itemset=apriori(enc_df,min_support=0.1,use_colnames=True)
freq_itemset

    support                    itemsets
0       0.3                   (Express)
1       0.3                     (Local)
2       0.2                     (Night)
3       0.6                   (Weekday)
4       0.4                   (Weekend)
5       0.3                      (long)
6       0.3                    (medium)
7       0.4                     (short)
8       0.3          (Express, Weekday)
9       0.1             (Express, long)
10      0.2           (Express, medium)
11      0.3            (Local, Weekday)
12      0.3              (Local, short)
13      0.2            (Weekend, Night)
14      0.2               (Night, long)
15      0.1             (Weekday, long)
16      0.2           (medium, Weekday)
17      0.3            (Weekday, short)
18      0.2             (Weekend, long)
19      0.1           (medium, Weekend)
20      0.1            (short, Weekend)
21      0.1    (Express, Weekday, long)
22      0.2  (Express, Weekday, medium)
23      0.3     (Local, Weekday, short)
24      0.2      (Weekend, Night, long)

In [23]:
rules=association_rules(freq_itemset,metric='confidence',min_threshold=0.3)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Express),(Weekday),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,0.571429
1,(Weekday),(Express),0.6,0.3,0.3,0.500000,1.666667,0.12,1.40,1.000000
2,(Express),(long),0.3,0.3,0.1,0.333333,1.111111,0.01,1.05,0.142857
3,(long),(Express),0.3,0.3,0.1,0.333333,1.111111,0.01,1.05,0.142857
4,(Express),(medium),0.3,0.3,0.2,0.666667,2.222222,0.11,2.10,0.785714
5,(medium),(Express),0.3,0.3,0.2,0.666667,2.222222,0.11,2.10,0.785714
6,(Local),(Weekday),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,0.571429
7,(Weekday),(Local),0.6,0.3,0.3,0.500000,1.666667,0.12,1.40,1.000000
8,(Local),(short),0.3,0.4,0.3,1.000000,2.500000,0.18,inf,0.857143
9,(short),(Local),0.4,0.3,0.3,0.750000,2.500000,0.18,2.80,1.000000
10,(Weekend),(Night),0.4,0.2,0.2,0.500000,2.500000,0.12,1.60,1.000000
11,(Night),(Weekend),0.2,0.4,0.2,1.000000,2.500000,0.12,inf,0.750000
12,(Night),(long),0.2,0.3,0.2,1.000000,3.333333,0.14,inf,0.875000
13,(long),(Night),0.3,0.2,0.2,0.666667,3.333333,0.14,2.40,1.000000
14,(long),(Weekday),0.3,0.6,0.1,0.333333,0.555556,-0.08,0.60,-0.533333
15,(medium),(Weekday),0.3,0.6,0.2,0.666667,1.111111,0.02,1.20,0.142857
16,(Weekday),(medium),0.6,0.3,0.2,0.333333,1.111111,0.02,1.05,0.250000
17,(Weekday),(short),0.6,0.4,0.3,0.500000,1.250000,0.06,1.20,0.500000
18,(short),(Weekday),0.4,0.6,0.3,0.750000,1.250000,0.06,1.60,0.333333
19,(Weekend),(long),0.4,0.3,0.2,0.500000,1.666667,0.08,1.40,0.666667
20,(long),(Weekend),0.3,0.4,0.2,0.666667,1.666667,0.08,1.80,0.571429
21,(medium),(Weekend),0.3,0.4,0.1,0.333333,0.833333,-0.02,0.90,-0.222222
22,"(Express, Weekday)",(long),0.3,0.3,0.1,0.333333,1.111111,0.01,1.05,0.142857
23,"(Express, long)",(Weekday),0.1,0.6,0.1,1.000000,1.666667,0.04,inf,0.444444
24,"(Weekday, long)",(Express),0.1,0.3,0.1,1.000000,3.333333,0.07,inf,0.777778
25,(Express),"(Weekday, long)",0.3,0.1,0.1,0.333333,3.333333,0.07,1.35,1.000000
26,(long),"(Express, Weekday)",0.3,0.3,0.1,0.333333,1.111111,0.01,1.05,0.142857
27,"(Express, Weekday)",(medium),0.3,0.3,0.2,0.666667,2.222222,0.11,2.10,0.785714
28,"(Express, medium)",(Weekday),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
29,"(medium, Weekday)",(Express),0.2,0.3,0.2,1.000000,3.333333,0.14,inf,0.875000
30,(Express),"(medium, Weekday)",0.3,0.2,0.2,0.666667,3.333333,0.14,2.40,1.000000
31,(Weekday),"(Express, medium)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.20,1.000000
32,(medium),"(Express, Weekday)",0.3,0.3,0.2,0.666667,2.222222,0.11,2.10,0.785714
33,"(Local, Weekday)",(short),0.3,0.4,0.3,1.000000,2.500000,0.18,inf,0.857143
34,"(Local, short)",(Weekday),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,0.571429
35,"(Weekday, short)",(Local),0.3,0.3,0.3,1.000000,3.333333,0.21,inf,1.000000
36,(Local),"(Weekday, short)",0.3,0.3,0.3,1.000000,3.333333,0.21,inf,1.000000
37,(Weekday),"(Local, short)",0.6,0.3,0.3,0.500000,1.666667,0.12,1.40,1.000000
38,(short),"(Local, Weekday)",0.4,0.3,0.3,0.750000,2.500000,0.18,2.80,1.000000
39,"(Weekend, Night)",(long),0.2,0.3,0.2,1.000000,3.333333,0.14,inf,0.875000
40,"(Weekend, long)",(Night),0.2,0.2,0.2,1.000000,5.000000,0.16,inf,1.000000
41,"(Night, long)",(Weekend),0.2,0.4,0.2,1.000000,2.500000,0.12,inf,0.750000
42,(Weekend),"(Night, long)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.60,1.000000
43,(Night),"(Weekend, long)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf,1.000000
44,(long),"(Weekend, Night)",0.3,0.2,0.2,0.666667,3.333333,0.14,2.40,1.000000

In [25]:
filtered_rules=rules[rules['consequents'].apply(lambda x:all( item in ['Local','Express','Night','Weekend'] for item in x))]
filtered_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(Weekday),(Express),0.6,0.3,0.3,0.500000,1.666667,0.12,1.40,1.000000
3,(long),(Express),0.3,0.3,0.1,0.333333,1.111111,0.01,1.05,0.142857
5,(medium),(Express),0.3,0.3,0.2,0.666667,2.222222,0.11,2.10,0.785714
7,(Weekday),(Local),0.6,0.3,0.3,0.500000,1.666667,0.12,1.40,1.000000
9,(short),(Local),0.4,0.3,0.3,0.750000,2.500000,0.18,2.80,1.000000
10,(Weekend),(Night),0.4,0.2,0.2,0.500000,2.500000,0.12,1.60,1.000000
11,(Night),(Weekend),0.2,0.4,0.2,1.000000,2.500000,0.12,inf,0.750000
13,(long),(Night),0.3,0.2,0.2,0.666667,3.333333,0.14,2.40,1.000000
20,(long),(Weekend),0.3,0.4,0.2,0.666667,1.666667,0.08,1.80,0.571429
21,(medium),(Weekend),0.3,0.4,0.1,0.333333,0.833333,-0.02,0.90,-0.222222
24,"(Weekday, long)",(Express),0.1,0.3,0.1,1.000000,3.333333,0.07,inf,0.777778
29,"(medium, Weekday)",(Express),0.2,0.3,0.2,1.000000,3.333333,0.14,inf,0.875000
35,"(Weekday, short)",(Local),0.3,0.3,0.3,1.000000,3.333333,0.21,inf,1.000000
40,"(Weekend, long)",(Night),0.2,0.2,0.2,1.000000,5.000000,0.16,inf,1.000000
41,"(Night, long)",(Weekend),0.2,0.4,0.2,1.000000,2.500000,0.12,inf,0.750000
44,(long),"(Weekend, Night)",0.3,0.2,0.2,0.666667,3.333333,0.14,2.40,1.000000