In [9]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [25]:
data=pd.read_csv('test.csv')
data

   a  b   c
0  b  c NaN
1  c  d NaN

In [27]:
data=data.fillna('').values.tolist()
data

[['b', 'c', ''], ['c', 'd', '']]

In [28]:
for row in data:
    row.remove('')
data

[['b', 'c'], ['c', 'd']]

In [31]:
te=TransactionEncoder()
enc=te.fit(data).transform(data)
pd.DataFrame(enc,columns=te.columns_)

       b     c      d
0   True  True  False
1  False  True   True